.reclamações {
    font-size: 30px;
    color: #ffffff;
    padding-left: 150px;
    padding-right: 400px;
    
}
h1 {
    font-size: 45px;
    color: #EBFF00;
    padding-left: 150px;
    padding-right: 400px;
    font-weight:bold ;
}
.nome{
    font-size: 30px;
    color: #ffffff;
    padding-left: 150px;
    padding-right: 400px;
}
.Caixa {
    font-size: 30px;
    color: #fafafa;
    padding-left: 150px;
    padding-right: 400px;
}
.jota {
    width: 400px;
    position: relative;
    left: 8%;
    background-color: #d9d9d9;
}
.Telefone{
    color: aliceblue;
    font-size: 40px;
    position: absolute;
    bottom: 500px;
    left: 55%;
}
.numero {
    color: #EBFF00;
    font-size: 40px;
    position: absolute;
    bottom: 440px;
    left: 63%;
}
.Mail{
    color: aliceblue;
    font-size: 40px;
    position: absolute;
    bottom: 380px;
    left: 55%;
}
.endereço {
    color: #EBFF00;
    font-size: 40px;
    position: absolute;
    bottom: 320px;
    left: 63%;
}
.botao {
    position: relative;
    left: 450px;
    width: 100px;
    bottom: 8px; 
    border-radius: 5px 5px 5px;
    margin: 10px;
}